

<div class="container mt-5">
  <div class="row">
    <div class="col-12">

      <div class="form-group">
        <label for="productName">Search Product</label>
        <input 
        appToLowercase
        type="text" id="productName" class="form-control">
      </div>
      <!-- <p basicCss>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
         Unde officiis molestias earum amet? At dicta perferendis autem explicabo hic amet eum sunt ratione,
          voluptates voluptatem, fugiat sed a officia! Velit.
      </p> -->

      <p RendrerCssHigh
       [defaultColor]="'purple'"
       [hoverColor]="'red'"
       >
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
         Unde officiis molestias earum amet? At dicta perferendis autem explicabo hic amet eum sunt ratione,
          voluptates voluptatem, fugiat sed a officia! Velit.
      </p>

       <p RendrerCssHigh >
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
         Unde officiis molestias earum amet? At dicta perferendis autem explicabo hic amet eum sunt ratione,
          voluptates voluptatem, fugiat sed a officia! Velit.
      </p>

       <p RendrerCssHigh >
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
         Unde officiis molestias earum amet? At dicta perferendis autem explicabo hic amet eum sunt ratione,
          voluptates voluptatem, fugiat sed a officia! Velit.
      </p>

       <p RendrerCssHigh >
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
         Unde officiis molestias earum amet? At dicta perferendis autem explicabo hic amet eum sunt ratione,
          voluptates voluptatem, fugiat sed a officia! Velit.
      </p>
    </div>
  </div>
</div>